.forms {
  width: 70%;
  margin: 0 auto;
}
.form {
  width: 60%;
  margin: 0 auto;
}

.row {
  width: 90%;
  margin: 0 auto;
}

textarea {
  resize: none;
  width: 150% !important;
  height: 200px !important;
}
